<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<th:block th:fragment="passwordScripts">
    <!-- the below will have no surrounding tags -->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/pwstrength.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {
            $('form').submit(function (event) {
                register(event);
            });

            $(":password").keyup(function () {
                if ($("#password").val() != $("#passwordConfirm").val()) {
                    $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
                } else {
                    $("#globalError").html("").hide();
                }
            });

            var options = {
                common: {minChar: 8},
                rules: {
                    wordLowercase: 3,
                    wordUppercase: 1,
                    wordOneNumber: 1,
                    wordOneSpecialChar: 1
                },
                ui: {
                    showVerdictsInsideProgressBar: true,
                    showErrors: true,
                    errorMessages: {
                        wordLength: /*[[#{error.wordLength}]]*/ "",
                        wordNotEmail: /*[[#{error.wordNotEmail}]]*/ "",
                        wordSequences: /*[[#{error.wordSequences}]]*/ "",
                        wordLowercase: /*[[#{error.wordLowercase}]]*/ "",
                        wordUppercase: /*[[#{error.wordUppercase}]]*/ "",
                        wordOneNumber: /*[[#{error.wordOneNumber}]]*/ "",
                        wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/ ""
                    }
                }
            };
            $('#password').pwstrength(options);
        });
        /*]]>*/
    </script>
</th:block>

</body>
</html>