<!DOCTYPE html>
<html lang="en" layout:decorator="common/mainScripts"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
    <meta charset="UTF-8"/>
    <title>Admin Page</title>
</head>
<body>
<!--/*@thymesVar id="user" type="uk.co.datadisk.ddflix.entities.User"*/-->

<div layout:fragment="content" class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h2>User Information</h2>
            <br/>

            <div class="row">
                <div class="col-xs-5">
                    <table class="table table-bordered table-responsive userInfoTable">
                        <tr>
                            <td><strong>Profile Image: </strong></td>
                            <td><img th:src="@{'/user/profile/' + ${user.id} + '/userProfileImage'}" alt="Profile Image" style="width:75px;height:100px"></td>
                        </tr>
                        <tr>
                            <td><strong>Email: </strong></td>
                            <td><span th:text="${user.email}"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Username: </strong></td>
                            <td><span th:text="${user.username}"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Active: </strong></td>
                            <td><span th:text="${user.isActive()}"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Enabled: </strong></td>
                            <td><span th:text="${user.isEnabled()}"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Expired: </strong></td>
                            <td><span th:text="${user.isExpired()}"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Locked: </strong></td>
                            <td><span th:text="${user.isLocked()}"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Created: </strong></td>
                            <td><span th:text="${#dates.format(user.dateCreated, 'dd-MM-yyyy')}"></span></td>
                        </tr>
                        <tr>
                            <td><strong>Roles: </strong></td>
                            <td>
                                <p th:each="role : ${user.getRoles()}">
                                    <span th:text="${role.getName()}"></span>
                                </p>
                            </td>
                        </tr>
                    </table>

                    <a href="/admin/user/listUsers" class="btn btn-info">Return to User List</a>
                    <a th:href="@{'/admin/user/edit?action=view&id=' + ${user.id}}" class="btn btn-primary">Edit User</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>