<!DOCTYPE html>
<html lang="en" layout:decorator="common/mainScripts"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
    <meta charset="UTF-8"/>
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/multi-select.css}">
</head>
<body>
<div layout:fragment="content" class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h2>Disc (new or edit)</h2>
            <br/>

            <!--/*@thymesVar id="discFormDTO" type="uk.co.datadisk.ddflix.dto.models.disc.DiscFormDTO"*/-->
            <form class="form-horizontal" th:object="${discFormDTO}" th:action="@{/admin/film/disc/form(action=save)} " method="post">

                <!--used when editing an existing disc-->
                <input hidden="hidden" name="id" th:value="*{id}" />
                <input hidden="hidden" th:field="*{film}" />

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                    </ul>
                </div>

                <!--/*@thymesVar id="film" type="uk.co.datadisk.ddflix.entities.film.Film"*/-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Film Title:</label>
                    <div class="col-sm-8">
                        <span th:text="${film_title}" style="top: 3px;font-weight: bold;color: blue;font-size: 22px;">Film Title</span>
                    </div>
                </div>

                <div class="form-group"
                     th:class="${#fields.hasErrors('discFormat')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-sm-3 control-label">Disc Format:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" th:field="*{discFormat}" th:errorclass="has-error"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">in Stock/out of Stock:</label>
                    <div class="col-sm-8">
                        <label><input type="radio" th:field="*{inStock}" th:value="true"/>In Stock</label>
                        <label><input type="radio" th:field="*{inStock}" th:value="false"/>Out of Stock<span style="color:lightgrey;"> (Disc is in or out of stock)</span></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Disc is faulty:</label>
                    <div class="col-sm-8">
                        <label><input type="radio" th:field="*{faulty}" th:value="true"/>Disc is Faulty</label>
                        <label><input type="radio" th:field="*{faulty}" th:value="false"/>Disc is NOT faulty<span style="color:lightgrey;"> (Disc is faulty or not)</span></label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Disc has been lost:</label>
                    <div class="col-sm-8">
                        <label><input type="radio" th:field="*{lost}" th:value="true"/>Disc has been lost</label>
                        <label><input type="radio" th:field="*{lost}" th:value="false"/>Disc has NOT been lost<span style="color:lightgrey;"> (Disc has been lost or not)</span></label>
                    </div>
                </div>

                <!--this is really an readonly field so that I can pass back the dateCreated.-->
                <div class="form-group">
                    <label class="col-sm-3 control-label">Date Created:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" th:field="*{dateCreated}" th:errorclass="has-error" readonly="readonly"/>
                    </div>
                </div>

                <div class="row">
                    <a href="/admin/film/disc/list" class="btn btn-info">Return to Disc List</a>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>

        </div>
    </div>

</div>
</body>
</html>