<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{message.changePassword}">change password</title>
</head>
<body>
<!--/*@thymesVar id="passwordDto" type="uk.co.datadisk.ddflix.dto.models.PasswordDto"*/-->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form th:action="@{'/user/profile/changePassword?action=save&id=' + ${session.id}}" th:object="${passwordDto}" method="post">
                    <div class="panel-body">
                        <h2 class="form-heading" th:text="#{message.resetYourPassword}">Reset Password</h2>

                        <div class="form-group ${error != null ? 'has-error' : ''}">
                            <input id="password" type="password" class="form-control" th:field="*{newPassword}" placeholder="New Password" autofocus="true" autocomplete="off"/><br />
                            <input id="passwordConfirm" type="password" class="form-control" placeholder="Confirm Password" autocomplete="off"/><br />
                            <div id="globalError" class="col-sm-12 alert alert-danger" style="display:none" th:text="#{PasswordMatches.user}">error</div>
                            <button id="submit" class="btn btn-lg btn-success btn-block" type="submit" th:text="#{message.updatePassword}">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <th:block th:include="common/passwordScripts :: passwordScripts"></th:block>

</div>
</body>

</html>