<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<!-- Pagination Bar -->
<div th:fragment='paginationbar (page)'>
    <nav aria-label="Page navigation example">
    <div>
        <ul class='pagination pagination-centered'>
            <!--/*@thymesVar id="page" type="uk.co.datadisk.ddflix.util.PageWrapper"*/-->
            <li th:class="${page.firstPage} ? 'disabled' : 'page-item'">
            <span th:if='${page.firstPage}'>← First</span>
            <a th:if="${not page.firstPage}" th:href="@{${page.url}(page=0,size=${page.size})}">← First</a>
            </li>
            <li th:class="${page.hasPreviousPage} ? 'page-item' : 'disabled'">
            <span th:if='${not page.hasPreviousPage}'>«</span>
            <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number - 2},size=${page.size})}' title='Go to previous page'>«</a>
            </li>
            <li th:each="item : ${page.items}" th:class="${item.current} ? 'active' : 'page-item'">
            <span th:if='${item.current}' th:text='${item.number}'>1</span>
            <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number -1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
            </li>
            <li th:class="${page.hasNextPage} ? 'page-item' : 'disabled'">
            <span th:if='${not page.hasNextPage}'>»</span>
            <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
            </li>
            <li th:class="${page.lastPage} ? 'disabled' : 'page-item'">
            <span th:if='${page.lastPage}'>Last →</span>
            <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
            </li>
        </ul>
    </div>
    </nav>
</div>

</body>
</html>