<html lang="en" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="common/mainBlankNoNav"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layoutDialect" >
<head>
    <meta charset="UTF-8"/>
    <title>User Login</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="col-md-6 col-md-offset-3">
        <form th:action="@{/user/resetPassword}" method="POST">
            <div class="panel-body">
                <h1 class="form-heading" th:text="#{message.resetPassword}">User Login</h1>

                <div class="form-group ${error != null ? 'has-error' : ''}">
                    <input id="email" name="email" type="email" class="form-control" placeholder="Email"
                           autofocus="true"/><br/>
                    <button id="submit" class="btn btn-lg btn-success btn-block" type="submit"
                            th:text="#{message.resetPassword}">Reset Password
                    </button>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <a class="btn btn-sm btn-primary btn-block" th:href="@{/registration}"
                   th:text="#{label.form.register}">Register</a>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <a class="btn btn-sm btn-primary btn-block" th:href="@{/login}"
                   th:text="#{label.form.loginLink}">Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>