<!DOCTYPE html>
<html lang="en" layout:decorator="common/dataTables"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Film List</title>
</head>
<body>
<!--/*@thymesVar id="film" type="uk.co.datadisk.ddflix.entities.film.Film"*/-->
<div layout:fragment="list_content" style="margin-top: 20px">
    <div class="row">

        <div class="col-md-2">
            nav bar
        </div>
        <!--/*@thymesVar id="page" type="uk.co.datadisk.ddflix.util.PageWrapper"*/-->
        <div class="col-md-10 col-md-offset-2">
            <div th:each="film : ${page.content}">
                <th:block th:replace="film/film/fragments/filmListInfo :: filmListInfo (film = ${film})"/>
            </div>
        </div>

        <th:block th:replace="film/film/fragments/pagnationBar :: paginationbar (page = ${page})"/>

        <a href="/film/film/carousel" class="btn btn-sm btn-info">Return to carousel</a>
    </div>
</div>

</body>
</html>