<!DOCTYPE html>
<html lang="en" layout:decorator="common/mainScripts"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Film List</title>
</head>
<body>
<!--/*@thymesVar id="film" type="uk.co.datadisk.ddflix.entities.film.Film"*/-->
<div layout:fragment="content" style="margin-top: 20px">
    <div class="row">

        <div class="col-md-2">
            nav bar
        </div>
        <!--/*@thymesVar id="page" type="uk.co.datadisk.ddflix.util.PageWrapper"*/-->
        <div class="col-md-10 col-md-offset-2">
            <div class="row">
                <div class="col-sm-6 form-inline">
                    <label style="font-weight: normal;">Show
                        <select onchange="changePageSize()" id="pageSize" class="form-control-sm">
                            <option th:value="4" th:selected="(${page.size} == 4)">4</option>
                            <option th:value="8" th:selected="(${page.size} == 8)">8</option>
                            <option th:value="12" th:selected="(${page.size} == 12)">12</option>
                        </select>
                        entries
                    </label>
                </div>
            </div>
            <br>

            <div th:each="film : ${page.content}">
                <th:block th:replace="film/film/fragments/filmListInfo :: filmListInfo (film = ${film})"/>
            </div>
            <div class="col-md-10 col-md-offset-2">
                <!--<a href="/film/film/carousel" class="btn btn-sm btn-info">Return to carousel</a>-->
                <th:block th:replace="film/film/fragments/pagnationBar :: paginationbar (page = ${page})"/>
            </div>
        </div>
    </div>
</div>

</body>
</html>