<!DOCTYPE html>
<html lang="en" layout:decorator="common/dataTables"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <title>Film List</title>
</head>
<body>
<!--/*@thymesVar id="film" type="uk.co.datadisk.ddflix.entities.film.Film"*/-->
<div layout:fragment="list_content" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Film List</h2>
            <br/>
            <table id="ListTable" class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Film Title</th>
                    <th>Rating</th>
                    <th>Date Created</th>
                    <th>Last Updated</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="film : ${films}">
                    <td th:text="${film.title}"></td>
                    <td th:text="${film.classification.rating}"></td>
                    <td th:text="${film.dateCreated}"></td>
                    <td th:text="${film.lastUpdated}"></td>
                    <td>
                        <a th:href="@{'/film/film/' + ${film.id} + '/info'}" class="btn btn-info btn-xs">Information</a>
                        <a th:href="@{'/film/film/' + ${film.id} + '/imagesUpload'}" class="btn btn-warning btn-xs">Images Upload</a>
                        <a th:href="@{/film/film/form(action='edit',filmId=${film.id})}" class="btn btn-primary btn-xs">Edit</a>
                        <a th:href="@{'/film/film/' + ${film.id} + '/delete'}" class="btn btn-danger btn-xs">Delete</a>
                        <a th:href="@{'/film/film/' + ${film.id} + '/addDisc?filmId=' + ${film.id}}" class="btn btn-secondary btn-xs">Add Film Disc</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a href="/film/film/list" class="btn btn-sm btn-info">Return to Film List</a>
            <a href="/film/film/form?action=new&filmId=0" class="btn btn-sm btn-primary">Create New Film</a>

        </div>
    </div>
</div>

</body>
</html>